
body {
	background-image: url(images/fon.jpg); 100% 100% no-repeat; 
	background-attachment: fixed; 
	font-family: 'Indie Flower', cursive; 
  font-family: Verdana, 'Archivo Narrow', sans-serif;
  z-index: 0;
}
H1 {
  color: grey;
  font-size: 150%;
  font-family: Verdana, Arial, sans-serif;
  text-align: center;
  z-index: 1;
}

.semiopacity {
    position: absolute; 
    background: #EEF2CFFF; /* Цвет фона */
    padding: 25px; /* Поля вокруг текста */
    width: 800px;
    height: 600px;
    opacity: 0.8; /* Полупрозрачный фон */
    filter: alpha(Opacity=70); /* Прозрачность в IE */
    color: #000; /* Цвет текста */
    border: 4px
    z-index: 0;
   }
.imgremove {
  width: 2%;
  height: 2%;
}

.flexrow {
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2px;
    border: 2px; #000000;
    padding: 25px; /* Поля вокруг текста */
    align-items: space-between;
    width: 700px;
    height: 300;
    z-index: 0;
    position: relative;
  }

  #ae {
    order: -4
  }
  #eg {
    order: -2;
  }
  #pm {
    order: -1;
  }
  #ae2 {
    order: 3;
  }

  #aet {
    order: -3;
  }
  #egt {
    order: -1;
  }
  #pmt {
    order: 2;
  }
  #aet2 {
    order: 4;
  }

 .flexcolumn {
    display: -webkit-flex;  
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    -webkit-flex-direction: column; 
    margin: 2px;
    border: #000, 2px;
    padding: 25px;
    align-items: stretch;
    z-index: 0;
  } 

