
body {
  background-image: url(images/fon.jpg); 100%, no-repeat; 
	background-attachment: fixed; 
	font-family: 'Indie Flower', cursive; 
  font-family: Verdana, 'Archivo Narrow', sans-serif;
  z-index: 0;
}
span {
  color: grey;
  font-size: 150%;
  padding: 5px; /* Поля вокруг текста */
  font-family: Verdana, Arial, sans-serif;
  text-align: center;
  position: relative;
  z-index: 1;
}
.Created {
  color: grey;
  font-size: 80%;
  padding: 5px; /* Поля вокруг текста */
  font-family: Verdana, Arial, sans-serif;
  position: relative;
  
}

.imgremove {
  width: 4%;
  height: 4%;
  position: relative;
 
}
.semiopacity {
    position: absolute; 
    background: #EEF2CFFF; /* Цвет фона */
    padding: 25px; /* Поля вокруг текста */
    width: 800px;
    height: 800px;
    box-sizing: border-box;
    opacity: 0.8; /* Полупрозрачный фон */
    filter: alpha(Opacity=70); /* Прозрачность в IE */
    color: #000; /* Цвет текста */
    z-index: 0;
   }

.flexcolumn_1 {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 750px;
  height: 70px;
  box-sizing: border-box;
  position: relative;
}
.flexrow_1 {
  display: -webkit-flex; /* Safari */
  display: flex;
  justify-content: space-between;
  margin: 2px;
  position: relative;
  border:1px solid #ccc;
}
.flexcolumn {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: column;
    padding: 1px; /* Поля вокруг текста */
    width: 750px;
    max-height: 600px;
    box-sizing: border-box;
    z-index: 0;
    position: relative;
    border: 1px solid #ccc;
    overflow-y: scroll;
  }

.column {
  display: flex;
  min-height: 95px;
}

.ava {
  margin: 2px;
  border: 1px solid #ccc;
  padding: 10px; /* Поля вокруг текста */
  width: 150px;
  box-sizing: border-box;
}
.text{
  margin: 2px;
  border: 1px solid #ccc;
  padding: 10px; /* Поля вокруг текста */
  width: 580px;
  box-sizing: border-box;
  overflow: auto;
}

.name {
  box-sizing: border-box;
  font-family: 'Savoye LET', cursive; 
  font-size: 30px;
  color: rgb(99, 124, 56);
}

.text_1{
  position: relative;
  margin: 2px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: Verdana, Arial, sans-serif;
  font-size: 14px;
  color: rgb(73, 78, 63);
}